Repository micrapi/lanuel: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./vendor/bin/phpcs --standard=./phpcs.xml

Init ElementPlus + Pinia
  .env.example
  client/app.vue
  client/assets/scss/styles.scss
  client/pages/index.tsx
  client/plugins/element-plus.tsx
  nuxt.config.ts
  package.json
  yarn.lock
Due: ./node_modules/.bin/eslint

Add axios, ziggy for API call
  .env.example
  .lintstagedrc
  app/Http/Kernel.php
  app/Providers/RouteServiceProvider.php
  client/app.vue
  client/composables/axios.ts
  client/layouts/default.tsx
  client/pages/index.tsx
  client/plugins/element-plus.ts
  client/plugins/init.server.ts
  client/routes/.gitignore
  client/stores/auth.ts
  client/types/index.d.ts
  client/utils/helpers.ts
  composer.json
  composer.lock
  config/cors.php
  nuxt.config.ts
  package.json
  routes/api.php
  yarn.lock
Due: ./node_modules/.bin/eslint, ./vendor/bin/phpcs --standard=./phpcs.xml

Update lint and phpcs
  .lintstagedrc
  composer.json
  phpcs.xml
Due: none

Update authentication header
  app/Http/Kernel.php
  app/Http/Middleware/ApiAuthentication.php
  client/composables/axios.ts
  config/auth.php
  config/sanctum.php
Due: ./vendor/bin/phpcs --standard=./phpcs.xml

Feature: authentication
  app/Auth/Traits/ThrottlesLogins.php
  app/Http/Controllers/Api/V1/LoginController.php
  app/Http/Controllers/Api/V1/UserController.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  client/middleware/auth.ts
  client/middleware/guest.ts
  client/pages/account.tsx
  client/pages/index.tsx
  client/pages/login.tsx
  client/stores/auth.ts
  client/types/index.d.ts
  config/sanctum.php
  routes/api.php
Due: ./vendor/bin/phpcs --standard=./phpcs.xml

Update axios
  README.md
  client/app.vue
  client/composables/axios.ts
  client/middleware/auth.ts
  client/stores/auth.ts
  ecosystem.config.js
  phpcs.xml
Due: ./node_modules/.bin/eslint

Default layout
  .env.example
  .eslintrc.js
  client/assets/scss/styles.scss
  client/layouts/default.tsx
  client/pages/account.tsx
  client/pages/index.tsx
  client/pages/login.tsx
  client/stores/auth.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: none

Fix header menu
  client/layouts/default.tsx
Due: none

Update template and add db logger
  .env.example
  app/Providers/AppServiceProvider.php
  client/layouts/default.tsx
  client/stores/auth.ts
  config/app.php
  config/logging.php
  nuxt.config.ts
Due: ./vendor/bin/phpcs --standard=./phpcs.xml

Use window.location for redirect after login
  client/pages/login.tsx
Due: none

Update development & production guide
  README.md
Due: none

Replace axios with fetch
  .eslintrc.js
  client/composables/axios.ts
  client/composables/fetch.ts
  client/stores/auth.ts
  client/types/index.d.ts
  package.json
  yarn.lock
Due: none

Fix fetch header
  client/composables/fetch.ts
  package.json
Due: none

Use for auth.fetch
  client/middleware/auth.ts
  client/middleware/guest.ts
  client/plugins/init.server.ts
  client/stores/auth.ts
  client/utils/helpers.ts
Due: none

Fix useHttpFetch
  client/composables/fetch.ts
Due: none

Fix Hydration Mismatch
  client/pages/account.tsx
Due: none

Add xdebug support
  .env.example
  client/middleware/auth.ts
  client/middleware/guest.ts
  client/plugins/init.server.ts
  nuxt.config.ts
Due: none

Add xdebug support
  client/composables/fetch.ts
Due: none

Fix login token
  app/Http/Controllers/Api/V1/LoginController.php
Due: none

Update nuxt version
  client/plugins/init.server.ts
  package.json
  yarn.lock
Due: none

Update nuxt version
  client/stores/auth.ts
  package.json
  yarn.lock
Due: none

Fix body class
  client/app.vue
Due: ./node_modules/.bin/eslint

Update middleware
  client/middleware/auth.ts
  client/middleware/guest.ts
  client/plugins/init.ts
Due: none

Update type
  client/composables/fetch.ts
  client/layouts/default.tsx
  client/pages/account.tsx
  client/stores/auth.ts
  client/utils/helpers.ts
Due: none

Remove cookie when logout
  app/Http/Controllers/Api/V1/LoginController.php
Due: none

Path conditions:
  ./node_modules/.bin/eslint: any of: ./client/*.{js,jsx,ts,tsx,vue}
  ./vendor/bin/phpcs --standard=./phpcs.xml: any of: {app,config,database,lang,routes,tests}/*.php
